body{
  font-family: Arial, Helvetica, sans-serif;
}

.my-container {
  margin: 0 auto;
  max-width: 600px;
  height: 260px;
  background-color: rgb(13, 197, 197);
  text-align: center;
  border-radius: 15px;
  padding: 5px;
}
 


